html {
    font-size: 16px;
    color: rgb(244, 207, 207);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 6em;
    border-radius: 10px;
    margin: 12px;
    color:rgb(248, 235, 214);
}

header p {
    margin-right: 44px;
    font-size: 1.2em;
}

header h1 {
    margin-right: 100px;
}

body {
    background-image: url(images/orangesky.jpg);
    background-color: black;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main h1 {
    display: flex;
    justify-content: center;
    color:rgb(250, 238, 223);
}

ul {
    list-style: none;
    margin-left: 32px;
    padding: 0;
    
}

li {
    display: inline-block;
    margin: 12px;
    padding: 12px;
    border-radius: 10px;
    font-size: 1.2em; 
}

a {
    text-decoration: none;
    color:rgb(248, 235, 214);
}

.container {
    display: flex;
    flex: 0 0 340px;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 12px;
    padding-left: 20px;
    width: 400px;
    letter-spacing: 1px;
}

#container_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;  
}

.question {
    color:rgb(252, 232, 200);
}

main blockquote {
    color:rgb(244, 209, 154);

}

#apple {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: end;

}