html {
    font-size: 16px;
    color: rgb(244, 207, 207);
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 6em;
    border-radius: 10px;
    margin: 12px;
    color: rgb(248, 235, 214);
}

header p {
    margin-right: 44px;
    font-size: 1.2em;
}

body {
    background-image: url(images/orangesky.jpg);
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: auto auto min-content auto auto;
    grid-template-rows: min-content min-content min-content auto 150px;
    grid-template-areas:
        "      header header header header header      "
        "      .       .      h1      .        .   "
        "       wrapper  wrapper wrapper wrapper wrapper  "
        "      .        .     .   .      .      "
        "     footer footer  footer footer  footer  ";
    height: 110vh;
}

h1 {
    grid-area: h1;
    text-wrap: nowrap;
    color: rgb(250, 238, 223);
}

header ul {
    list-style: none;
    margin-left: 32px;
    padding: 0;

}

header li {
    display: inline-block;
    margin: 12px;
    padding: 12px;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: rgb(248, 235, 214);
    border-radius: 8px;
    transition: all 0.1s;
}

a:hover {
    text-shadow: 1px 1px 2px black,
    0 0 0.7em orange,
    0 0 1em orange;
    color:white;
}

.container {
    display: flex;
    flex: 0 0 380px;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 12px;
    border: solid 0.5px rgb(90, 66, 21);
    padding-left: 20px;
    width: 400px;
    letter-spacing: 1px;
}

#container_wrap {
    grid-area: wrapper;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.question {
    color: rgb(252, 232, 200);
}

blockquote {
    color: rgb(244, 209, 154);

}

#apple {
    display: flex;
    justify-content: center;
}

footer {
    grid-area: footer;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: end;

}

/** Media queries **/
@media screen and (max-width: 580px) {
    body {
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content auto 150px;
        grid-template-areas:
            "  header  "
            "  h1      "
            "  wrapper "
            "    .     "
            "  footer  ";
        height: 150vh;
    }
    header li {
        font-size: 1.7em;
        padding: 4px;
        border-radius: 12px;
        border: solid rgb(255, 230, 185) 1px;
    }
    header ul {
        margin-left: 0;
    }
    header {
        justify-content: center;
        gap: 16px;
        height: 7em;
        flex-wrap: wrap;
        gap: 0;
        height: 8em;
    }
    header p {
        margin: 0;
    }
    body {
        height: 120vh;
    }
}


@media screen and (max-width: 420px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .container {
        flex: 0 0 330px;
        letter-spacing: 0;
    }
    #container_wrap {
        gap: 30px;
    }
    header li {
        margin: 0;
    }
    footer {
        margin-top: 150px;
    }
}

@media screen and (max-width: 350px) {
    html {
        font-size: 14px;
    }
    body {
        height: 110vh;
    }
    .container {
        flex: 0 0 300px;
    }
    footer {
        margin-top: 100px;
    }
}