html {
    font-size: 16px;
    color: rgb(244, 207, 207);
}

body {
    background-image: url(images/orangesky.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 6em;
    border-radius: 10px;
    margin: 12px;
}

ul {
    list-style: none;
    margin-left: 32px;
    padding: 0;
    
}

li {
    display: inline-block;
    margin: 12px;
    padding: 12px;
    border-radius: 10px;
    font-size: 1.2em; 
}

header p {
    margin-right: 44px;
    font-size: 1.2em;
}

header h1 {
    margin-right: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 16px;
    height: 400px;
    width: 400px;
}

#container_wrap {
    display: flex;
    justify-content: center;
    gap: 80px;  
}